{{#if deleted}}{{#warningmessagesmall}}
    This dataset has been deleted.
    {{#if undelete_url}}
        Click <a href="{{ undelete_url }}" class="historyItemUndelete" id="historyItemUndeleter-{{ id }}"
                 target="galaxy_history">here</a> to undelete it
        {{#if purge_url}}
        or <a href="{{ purge_url }}" class="historyItemPurge" id="historyItemPurger-{{ id }}"
           target="galaxy_history">here</a> to immediately remove it from disk
        {{/if}}
    {{/if}}
{{/warningmessagesmall}}{{/if}}

{{#if purged}}{{#warningmessagesmall}}
    This dataset has been deleted and removed from disk.
{{/warningmessagesmall}}{{/if}}

{{#unless visible}}{{#warningmessagesmall}}
    This dataset has been hidden.
    {{#if undelete_url}}
        Click <a href="{{ unhide_url }}" class="historyItemUnhide" id="historyItemUnhider-{{ id }}"
                 target="galaxy_history">here</a> to unhide it
    {{/if}}
{{/warningmessagesmall}}{{/unless}}