<div class="hda-summary">
    {{ misc_blurb }}<br />
    format: <span class="{{ data_type }}">{{ data_type }}</span>,
    database:
    {{#if dbkey_unknown_and_editable }}
        <a href="{{ edit_url }}" target="galaxy_main">{{ metadata_dbkey }}</a>
    {{else}}
        <span class="{{ metadata_dbkey }}">{{ metadata_dbkey }}</span>
    {{/if}}
</div>
{{#if misc_info}}
<div class="hda-info">{{ misc_info }}</div>
{{/if}}