<span class="labels">{{#each labels}}<span class="label label-default label-{{this}}">{{this}}</span> {{/each}}</span>
<a class="{{id}} tool-link" href="{{link}}" target="{{target}}" minsizehint="{{min_width}}">{{name}}</a>
{{description}}
